<div class="container">
  <div class="d-flex justify-content-end">
    <%if @admin_log.id == 1 %>
    <a class="btn btn-pri mt-4" onclick="popupoverlay()">Add quest</a>
    <% end %>

  </div>
</div>
<div class="container mt-5">
    <div class="row">
        <% Assesment.all.map do |quiz|%>
        <div class="col-md-3 col-sm-12 mb-2">
         <div class="row rounded bg-white border px-3 py-3 mx-2">
          <div class="col-12">
            <div class="row">
            <div class="col-8">
            <p class="fs-4 mb-4"><%= quiz.title%></p>
            </div>
            <%if @admin_log.id == 1 %>
            <div class="col">
              <em class="fa fa-ellipsis-v  nav-link dropdown-toggle text-dark"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-hidden="true"></em>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li ><a class="dropdown-item" href="/quiz/question/<%= quiz.id %>">Add question</a></li>
                  <li><a class="dropdown-item" href="/quiz/delete_quiz/<%= quiz.id %>">Delete Quiz</a></li>
                </ul>
            </div>
            <%end%>
          </div>
          </div>
          <div class="col-12">
            <a href="/answer/home/<%= quiz.id %>" class="btn btn-pri float-end ">Start</a>
          </div>
         </div>
        </div>
        <% end %>
    </div>
</div>


<div class="popup" id="popup">
  <div class="overlay">
    <div class="container py-5 h-100">
      <div class="row justify-content-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <div class="cross-icon">
                <em class="fa fa-times float-end" aria-hidden="true" onclick="hide()"></em>
                            </div>
              <h1 class="mb-4 pb-2 pb-md-0 mb-md-5 font-color-grey">Add Quiz</h1>
              <form action="/quiz/createquiz" method="post">
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                <input name="assesment[user_id]" type="hidden" value= "<%= session[:current_user] %>" >
                <div class="row">
                  <div class="col-md-12 mb-4">
                    <input type="text"  placeholder="Title" name="assesment[title]" class="form-control form-control-lg"/>
                  </div>
              </div>
              <div class="float-end">
               <input class="btn btn-pri btn-lg" type="submit" value="Submit"/>
             </div>

            </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


<script>

  var x = document.getElementById("popup");

    function popupoverlay(){
      x.style.display = "block";
    }

    function hide(){
      x.style.display= "none";
    }

</script>
