<div class="container me-5 h-100" id="que" style="margin-top: 12%;">
    <% @quest.each do |ans| %>
    <%if ! Answer.where(quests_id: ans.id , users_id: session[:current_user]).present?%>
        <div class="question row" id="question<%= ans.id %>">
            <div class="col-12 fs-1 mb-4 " >
                <%= ans.question %> ?
            </div>
            <%@ary=[]%>
                <%if ans.answer.present?%>
                    <%@ary.push(ans.answer)%>
                        <%end%>
                            <%if ans.choice1.present?%>
                                <%@ary.push(ans.choice1)%>
                                    <%end%>
                                        <%if ans.choice2.present?%>
                                            <%@ary.push(ans.choice2)%>
                                                <%end%>
                                                    <%if ans.choice3.present?%>
                                                        <%@ary.push(ans.choice3)%>
                                                            <%end%>
                                                                <form action="/answer/store" class="row" method="post" onsubmit="sublit(<%= ans.id %>)">
                                                                    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

        <input type="hidden" name="users_id" value="<%=session[:current_user]%>">
        <input type="hidden" name="quests_id" value="<%=ans.id%>">
        <input type="hidden" name="assesments_id" value="<%=ans.assesments_id%>">
        <input type="hidden" name="ans" value="<%=ans.answer%>">

                                                                <%@ary.shuffle.each do |ar|%>
                                                                    <div class="col-md-5 mt-1 me-1 ">
                                                                        <input class="btn btn-lg w-100 py-4 mb-4 btn-pri" type="submit" name="answer" value="<%=ar%>">
                                                                    </div>
                                                                    <%end%>
                                                                </form>
        </div>
        <%end%>
        <%end%>
</div>

<script>
    function sublit(a){
        document.getElementById(`question${a}`).style.display = "none";
    }


    function queshow(){
    let len = document.getElementById("que").getElementsByClassName("question").length
        for(let i=1; i<len; i++){
document.getElementById("que").getElementsByClassName("question")[i].style.display = "none"
        }
        if(len == 0){
            window.location.href = "/quiz/results/<%= @q_id %>"
        }
    }

    queshow();
</script>
