<div class="container">
    <% @id.map do |ans| %>
    <form>
    <div class="row mt-4 bg-white rounded p-3">
     <div id="<%=ans.id%>" >
                <div class="row bg-white">
                        <div class="col-12 ">
                            <p class="fs-5 fw-bold"><%= ans.question.capitalize %> ?</p>
                        </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6  col-12  mb-2 px-1 ">
                        <input type="submit" value="<%= ans.answer %>" class="index-bg text-white pt-1 ps-2 rounded pb-4">
                    </div>           
                    <div class="col-md-6 col-12 mb-2 px-1 ">
                        <input type="submit" value="<%= ans.choice1 %>" class="index-bg text-white pt-1 ps-2 rounded pb-4">
                    </div>
                </div>
                <div class="row mt-1">
                    <% unless  ans.choice2.length == 0 && ans.choice3.length == 0 %>
                    <div class="col-md-6 col-12  mb-2 px-1">
                        <input type="submit" value="<%= ans.choice2 %>" class="index-bg text-white pt-1 ps-2 rounded pb-4">
                    </div>
                    <div class="col-md-6 col-12  mb-2 px-1">
                        <input type="submit" value="<%= ans.choice3 %>" class="index-bg text-white pt-1 ps-2 rounded pb-4">
                    </div>
                <% end %>
                </div>
        </div>
        </div>
       </form>
</div>
<script>
let div = document.getElementById("<%=ans.id%>")
if(div > "<%=ans.id%>") {
    div.style.display="none";
}
</script>
 <% end %>