
<div class="container mt-5">
    <div class="row">
      <!--  -->
     <div class="col col-md-3 me-2 col-12  h-50  border  py-5 bg-white rounded " >
        <div class="row d-flex justify-content-center px-5">
          <% if !session[:current_user].nil? %>
                <% logged_user = User.find(session[:current_user]) %>
                <%= image_tag "profile_clipart.png", class: "img-fluid w-75"%>
                <p class="text-center fs-1 mt-2"><%= logged_user["username"].capitalize()%> </p>
          <% else %>
                 <i class="fa fa-user mx-2 mb-3 text-center" aria-hidden="true"  style="font-size: 10rem;"></i>
                 <a href="/signin" class="btn btn-pri"> Sign in</a>
          <% end %>

        </div>
        <hr class="text-black" style="padding-top: 2px;">
        <div class="row text-center px-5">
            <a href="/allblogs" class="text-reset text-decoration-none btn btn-outline-pri my-2">All Blogs</a>
             <a href="/blog/myblogs" class="text-reset text-decoration-none btn btn-pri my-2">My Blogs</a>
             <a href="/blog/addblog"  class="text-reset text-decoration-none btn btn-outline-pri my-2">Add Blog</button>
             <a href="/blog/likedblogs" class="text-reset text-decoration-none btn btn-outline-pri my-2">Liked Blogs</a>

        </div>
    </div>
      <!-- blog section -->

      <div class="col-md bg-white">
          <h1 class="my-4 ms-3">My Blogs</h1>
           <% if @user_check.present? %>
           <% @user_check.map do |cur_post| %>
            <div class="row bg-white pt-3 mb-2">
                  <div class="col mb-1 ">
                    <div class="float-end">
                        <i class="fa fa-ellipsis-v  nav-link dropdown-toggle text-dark"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-hidden="true"></i>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li ><a class="dropdown-item" href="/blog/edit/<%= cur_post.id%>">Edit</a></li>
                            <li><a class="dropdown-item" href="/blog/delete/<%= cur_post.id %>">Delete</a></li>
                          </ul>
                    </div>

                    <h4><i class="fa fa-user-circle-o text-body mx-2" aria-hidden="true"></i><%= User.find(cur_post.user_id).username.capitalize%> </h4>

                  </div>
                  <div class="col-12">
                    <p class="fs-3"><%= cur_post.blog_title.capitalize %></p>
                  </div>
                  <div class="col-12 mb-2">
                    <h4 class="lead"><%= cur_post.blog_description.capitalize%></h4>
                  </div>
                  <div class="col-9 mb-1">
                    <% like_exist = Like.find_by(user_id: session[:current_user], blog_id: cur_post['id']).nil? %>
                    <% cur_blog_likes = Like.where(blog_id: cur_post['id']).length %>
                    <% unless like_exist %>
                    <a href="/delete_liked_blog/<%= cur_post['id'] %>" class="text-reset text-decoration-none" ><i class="fa fa-heart fa-lg text-danger me-2"></i>&nbsp;<%= cur_blog_likes %> </a>
                    <% else %>
                    <a href="/like_blog/<%= cur_post['id'] %>" class="text-reset text-decoration-none"><i class="fa fa-heart fa-lg text-secondary me-2"></i>&nbsp;<%= cur_blog_likes %></a>
                    <% end %>
                  </div>

            </div>
            <% end %>

          <% end %>
      </div>
      </div>
    </div>
